<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script type="text/javascript" src="../static/scripts/jquery-latest.js"></script>
<script type="text/javascript" src="../static/scripts/jquery.tablesorter.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    // call the tablesorter plugin
    $("table").tablesorter({
        // sort on the first column and third column, order asc
        sortList: [[0,0],[2,0]]
    });
});

</script>

<table class="tablesorter" cellspacing="1">
   <thead>
        <tr>
            <th>UNIPROT ID</th>
            <th>GENENAME</th>
            <th>FUNCTION</th>
        </tr>
   </thead>
   <tbody>
   
   <TR>
     <TD>O95359</TD>
     <TD>TACC2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q02880</TD>
     <TD>TOP2B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P02765</TD>
     <TD>AHSG</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P17980</TD>
     <TD>PSMC3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NVU0</TD>
     <TD>POLR3E</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96L91</TD>
     <TD>EP400</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P28347</TD>
     <TD>TEAD1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60333-4</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60271</TD>
     <TD>SPAG9</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O95772-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P56962</TD>
     <TD>STX17</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75475-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75592-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8NC44</TD>
     <TD>RETREG2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NTI5</TD>
     <TD>PDS5B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N2M8</TD>
     <TD>CLASRP</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q16594</TD>
     <TD>TAF9</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8TEW0</TD>
     <TD>PARD3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q12888-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UNF1</TD>
     <TD>MAGED2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NYV4-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P85037-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7L4I2-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WXG6-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q14980-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q15678</TD>
     <TD>PTPN14</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q16584</TD>
     <TD>MAP3K11</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BXK1</TD>
     <TD>KLF16</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13427</TD>
     <TD>PPIG</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O94827-6</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UQ35</TD>
     <TD>SRRM2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5SW96</TD>
     <TD>LDLRAP1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8TEB1</TD>
     <TD>DCAF11</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6ZN28</TD>
     <TD>MACC1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86UU1-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P85037-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q92523</TD>
     <TD>CPT1B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q15054</TD>
     <TD>POLD3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P42679-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UQ35</TD>
     <TD>SRRM2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7Z417</TD>
     <TD>NUFIP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UHD8-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96QR8</TD>
     <TD>PURB</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96HH9-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96QR8</TD>
     <TD>PURB</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q99959</TD>
     <TD>PKP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P67809</TD>
     <TD>YBX1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60927</TD>
     <TD>PPP1R11</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IYB3</TD>
     <TD>SRRM1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WWM7-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WXG6-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75052</TD>
     <TD>NOS1AP</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7Z4V5-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P36915-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N9M1-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P23443-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9HA65</TD>
     <TD>TBC1D17</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P83436</TD>
     <TD>COG7</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P61978-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q0JRZ9-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NVM6</TD>
     <TD>DNAJC17</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9P1Y6-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IU60</TD>
     <TD>DCP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P35251-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y3T9</TD>
     <TD>NOC2L</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NRA8-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IZW8</TD>
     <TD>TNS4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96ST2</TD>
     <TD>IWS1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H9C1-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q32MZ4</TD>
     <TD>LRRFIP1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P46013</TD>
     <TD>MKI67</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7L014</TD>
     <TD>DDX46</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P18206</TD>
     <TD>VCL</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NQB0</TD>
     <TD>TCF7L2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y3Q8</TD>
     <TD>TSC22D4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P54259</TD>
     <TD>ATN1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13263</TD>
     <TD>TRIM28</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P01100</TD>
     <TD>FOS</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q15942</TD>
     <TD>ZYX</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9P2D0</TD>
     <TD>IBTK</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P35221-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7Z309-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H0B6</TD>
     <TD>KLC2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96RS0</TD>
     <TD>TGS1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BXS5-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5VT06</TD>
     <TD>CEP350</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y446-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96JI7-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P52926-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O43159</TD>
     <TD>RRP8</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WWI1</TD>
     <TD>LMO7</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H1E3</TD>
     <TD>NUCKS1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q99959</TD>
     <TD>PKP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WVB6-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UID3-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UJV9</TD>
     <TD>DDX41</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WWM7-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NQB0</TD>
     <TD>TCF7L2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H1A4</TD>
     <TD>ANAPC1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9P2D0</TD>
     <TD>IBTK</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60832-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IZW8</TD>
     <TD>TNS4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13459-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IZW8</TD>
     <TD>TNS4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UKV3-5</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q14247-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UQ35</TD>
     <TD>SRRM2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P51787-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7L4I2-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P40926</TD>
     <TD>MDH2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P49023</TD>
     <TD>PXN</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O95208-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q969R2</TD>
     <TD>OSBP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UIS9-12</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13263</TD>
     <TD>TRIM28</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y6M7-13</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q14451</TD>
     <TD>GRB7</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H0D6-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y446-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O43159</TD>
     <TD>RRP8</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q99959</TD>
     <TD>PKP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BST9</TD>
     <TD>RTKN</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P16144-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UDY2-7</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75676</TD>
     <TD>RPS6KA4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q14676</TD>
     <TD>MDC1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q16204</TD>
     <TD>CCDC6</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q99959</TD>
     <TD>PKP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y450-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P05787-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86VY9</TD>
     <TD>TMEM200A</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q99959</TD>
     <TD>PKP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q92614-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P21127-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75676</TD>
     <TD>RPS6KA4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O76094</TD>
     <TD>SRP72</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96TA1</TD>
     <TD>FAM129B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P29966</TD>
     <TD>MARCKS</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P82094-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P49006</TD>
     <TD>MARCKSL1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96TA1</TD>
     <TD>FAM129B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q92597</TD>
     <TD>NDRG1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O95425-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86W92-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q01167</TD>
     <TD>FOXK2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P40222</TD>
     <TD>TXLNA</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BY44-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O15446-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O94888</TD>
     <TD>UBXN7</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NRG9-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13613-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UN36-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96RL7</TD>
     <TD>VPS13A</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96A57-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6QNY0</TD>
     <TD>BLOC1S3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6ZRV2</TD>
     <TD>FAM83H</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>A0FGR8-6</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q01082-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q09666-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H4L4</TD>
     <TD>SENP3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9P1Y5-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UHR5-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O95251-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5T200-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13057-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q03001-7</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P26651</TD>
     <TD>ZFP36</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8ND30</TD>
     <TD>PPFIBP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q02241-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O43399-7</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P28290</TD>
     <TD>SSFA2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y4H2</TD>
     <TD>IRS2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y3T9</TD>
     <TD>NOC2L</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O14950</TD>
     <TD>MYL12B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WY36</TD>
     <TD>BBX</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60343-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P29590-4</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86YV5</TD>
     <TD>PRAG1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8NDT2</TD>
     <TD>RBM15B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13470-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O95772-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>A0FGR8-6</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BQ61</TD>
     <TD>C19orf43</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WYP3-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y4F5</TD>
     <TD>CEP170B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O43491-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q02241-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q96PU5</TD>
     <TD>NEDD4L</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q12774-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y261-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N201</TD>
     <TD>INTS1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P26651</TD>
     <TD>ZFP36</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13480-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86SQ0-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O00220</TD>
     <TD>TNFRSF10A</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BXS9-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q70E73</TD>
     <TD>RAPH1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H1H9-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q04637-9</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NQT8</TD>
     <TD>KIF13B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13425-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P49736</TD>
     <TD>MCM2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q15365</TD>
     <TD>PCBP1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O00750</TD>
     <TD>PIK3C2B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75533-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y4B4</TD>
     <TD>RAD54L2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P28290</TD>
     <TD>SSFA2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5TKA1-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P48436</TD>
     <TD>SOX9</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6PKG0-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5UIP0</TD>
     <TD>RIF1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y2K5-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BW71-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P46527</TD>
     <TD>CDKN1B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O43379-4</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q13098-7</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q68DK2</TD>
     <TD>ZFYVE26</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BXP5</TD>
     <TD>SRRT</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y4F5</TD>
     <TD>CEP170B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9C0C9</TD>
     <TD>UBE2O</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P15924-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7Z417</TD>
     <TD>NUFIP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q16537</TD>
     <TD>PPP2R5E</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9UER7-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9C0C2</TD>
     <TD>TNKS1BP1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O60343-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5VZK9</TD>
     <TD>CARMIL1</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5VTR2</TD>
     <TD>RNF20</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N3X1-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6P1L5-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q14160</TD>
     <TD>SCRIB</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P49736</TD>
     <TD>MCM2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O75197</TD>
     <TD>LRP5</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P29353-6</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q01433-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6GYQ0-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q71F56</TD>
     <TD>MED13L</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9NYF8-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9P206-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8WXE1</TD>
     <TD>ATRIP</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N573-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8N6H7</TD>
     <TD>ARFGAP2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9H7U1-3</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>O15014</TD>
     <TD>ZNF609</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P23588</TD>
     <TD>EIF4B</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IWW6-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q6PKG0-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q86VM9</TD>
     <TD>ZC3H18</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BV36</TD>
     <TD>MLPH</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q92997</TD>
     <TD>DVL3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9BVV8</TD>
     <TD>C19orf24</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q9Y2W1</TD>
     <TD>THRAP3</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>P28290</TD>
     <TD>SSFA2</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q5VZL5</TD>
     <TD>ZMYM4</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8NHM5-1</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q7L099-2</TD>
     <TD>None</TD>
     <TD>None</TD>
   </TR>
   
   <TR>
     <TD>Q8IVT2</TD>
     <TD>MISP</TD>
     <TD>None</TD>
   </TR>
   
    </tbody>
</table>
